<!doctype html>

<style>

.navbar {
  overflow: hidden;
  background-color: #BF5700;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container {
    padding: 16px;
    margin-top: 30px;
}
</style>
<title>VAST User</title>
<html>
<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/upload">Upload</a>
    <a href="/logout">Sign out</a>
  </div>
</body>
  <div class="container">
    {% extends "flash.html" %}
    {% block body %}
  </div>
    <h1>Upload a New Job and its Input Files </h1>
    <h2> If you have never done this before, please follow the <a href="/tutorial"> tutorial </a></h2>
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
        <label><b>Is this a job file (not a job dependent file)?</b></label>
        <input type=checkbox name=isJobFile checked>
         <input type=submit value=Upload></p>
    </form>
  <div class="container">
    <h2>User values:</h2>
    <pre>
      <div id="output">{{out}}</div>
    </pre>
  </div>
{% endblock %}
</html>
